<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <form>
                <input type="text" title="Enter email">
                <input type="password" title="Enter password">
                <button type="submit">LogIn</button>
            </form>
        </div>
        <a>Register</a>
    </div>
</body>
</html>